<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{show.title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>

<body class='bg-dark text-white p-3'>
    <div id='container' class='justify-content-center'>
        <div id='header' class='mb-3'>
            <h1 class='m-3'>Edit {{show.title}}</h1>
            <a href='/shows' class= 'btn  btn-secondary text-white h-50'>Go Back</a>
        </div>
        <form action='/shows/edit_show/{{show.id}}' method='post'>
            {% csrf_token %}
            <div class='row p-3'>
                <input type='text' name='title' placeholder='Title' class='col-3' value = '{{show.title}}'>
                <input type='text' name='network' placeholder='Network' class='col-3' value = '{{show.network}}'>
            </div>
            <div class='form-group'>
                <label for='release_date' class=' col-3'>Release Date:</label>
                <input type='date' name='release_date' class = 'col-3' value = '{{show.release_date|date:"Y-m-d"}}'>
            </div>
            <div class='form-group'>
                <textarea name='desc' placeholder="Description" class = col-6>{{show.desc}}</textarea></div>
            <input type='submit' value='Submit Changes' class='btn btn-success'>
        </form>
        <a class = 'btn btn-primary mt-4' href = '/shows/{{show.id}}'>Go to Show</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>